<nav class="site-navbar navbar navbar-fixed-top navbar-mega bg-yellow-900 navbar-inverse" style=" font-family: aladin; color:black" role="navigation" data-pg-collapsed>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left unfolded" data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="../../Content/js/logo.png" title="Remark">
            <span class="navbar-brand-text hidden-xs"> Ubicate!</span>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search" data-toggle="collapse">
            <span class="sr-only">Toggle Search</span>
            <i class="icon md-search" aria-hidden="true"></i>
        </button>
    </div>
    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="hidden-xs" id="toggleFullscreen">
                    <a class="icon fa fa-arrows-alt" data-toggle="fullscreen" role="button"><span class="sr-only">Toggle fullscreen</span></a>
                </li>
                <li class="hidden-float">
                    <a class="icon fa  fa-search" data-toggle="collapse" data-target="#site-navbar-search" role="button"><span class="sr-only">Toggle Search</span></a>
                </li>
            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="dropdown">
                    <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-animation="scale-up" role="button"><i style="padding-top:8px" class=" fa fa-user "></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a href="../Admin/ModificarPerfil.aspx" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>
                        </li>
                        <li role="presentation">
                            <a href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>
                        </li>
                        <li class="divider" role="presentation"></li>
                        <li role="presentation">
                            <a href="#" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" title="Notifications" aria-expanded="false" data-animation="scale-up" role="button"><i class="icon fa  fa-bell" aria-hidden="true"></i><span class="badge badge-danger up"></span></a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" title="Messages" aria-expanded="false" data-animation="scale-up" role="button"><i class="icon fa  fa-envelope" aria-hidden="true"></i><span class="badge badge-info up"></span></a>
                </li>
            </ul>

            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon fa fa-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="site-search" placeholder="Search...">
                        <button type="button" class="input-search-close icon fa fa-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>
