<div class="site-menubar" style="font-family:Butterfly Kids ;" data-pg-collapsed>
    <div class="site-menubar-body">
        <ul class="site-menu" style="transform: translate3d(0px, 0px, 0px);">
            <li class="site-menu-item active">
                <a class="animsition-link waves-effect waves-classic" style="color:red"><i class="site-menu-icon fa fa-th-large fa-lg" aria-hidden="true"></i><span class="site-menu-title">Principal</span></a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)" class=" waves-effect waves-classic" style="color:red"><i class="site-menu-icon fa fa-lg fa-money" aria-hidden="true"></i><span class="site-menu-title">Rent<br>Area</span></a>
               
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)" class=" waves-effect waves-classic" style="color:red"><i class="site-menu-icon fa fa-lg fa-save" aria-hidden="true"></i><span class="site-menu-title">Post<br>Events</span></a>
                
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)" class=" waves-effect waves-classic" style="color:red"><i class="site-menu-icon fa  fa-lg fa-pie-chart" aria-hidden="true"></i><span class="site-menu-title">Place<br>Reports</span></a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)" class=" waves-effect waves-classic" style="color:red"><i class="site-menu-icon fa  fa-lg fa-street-view" aria-hidden="true"></i><span class="site-menu-title">Geolocation<br>Places</span></a>
            </li>
        </ul>
    </div>
</div>
