<div class="site-menubar" style="font-family: Love Ya Like A Sister">
    <div class="site-menubar-body">
        <ul class="site-menu" style="transform: translate3d(0px, 0px, 0px);">
            <li class="site-menu-item active">
                <a class="animsition-link waves-effect waves-classic"><i class="site-menu-icon fa fa-th-large fa-lg" style="color:blue;font-size:0.8em" aria-hidden="true"></i><span class="site-menu-title">Principal</span></a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="#" class=" waves-effect waves-classic"><i class="site-menu-icon fa fa-info fa-lg" style="color:blue;font-size:0.8em" aria-hidden="true"></i><span class="site-menu-title">Details<br>Event</span></a>

            </li>
            <li class="site-menu-item has-sub">
                <a href="#" class=" waves-effect waves-classic"><i class="site-menu-icon fa fa-globe fa-lg" style="color:blue;font-size:0.8em" aria-hidden="true"></i><span class="site-menu-title">Event<br>User</span></a>

            </li>
            <li class="site-menu-item has-sub">
                <a href="#" class=" waves-effect waves-classic"><i class="site-menu-icon fa  fa-ticket fa-lg" style="color:blue;font-size:0.8em" aria-hidden="true"></i><span class="site-menu-title">Buy<br>Ticket Event</span></a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="#" class=" waves-effect waves-classic"><i class="site-menu-icon fa  fa-street-view fa-lg" style="color:blue;font-size:0.8em" aria-hidden="true"></i><span class="site-menu-title">Geolocation<br>Events</span></a>
            </li>
        </ul>
    </div>
</div>
