<div class="site-menubar" style="font-family:Annie Use Your Telescope">
    <div class="site-menubar-body">
        <ul class="site-menu" style="transform: translate3d(0px, 0px, 0px);">
            <li class="site-menu-item active">
                <a class="animsition-link waves-effect waves-classic"><i class="site-menu-icon fa fa-th-large fa-lg" aria-hidden="true"></i><span class="site-menu-title">Principal</span></a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)" class=" waves-effect waves-classic"><i class="site-menu-icon fa fa-pencil-square-o fa-lg" aria-hidden="true"></i><span class="site-menu-title">Drawing<br>Map Plan</span></a>

            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)" class=" waves-effect waves-classic"><i class="site-menu-icon fa fa-calculator fa-lg" aria-hidden="true"></i><span class="site-menu-title">Administration<br>Rent</span></a>

            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)" class=" waves-effect waves-classic"><i class="site-menu-icon fa  fa-map-marker fa-lg" aria-hidden="true"></i><span class="site-menu-title">Administration<br>Places</span></a>
            </li>
            <li class="site-menu-item has-sub">
                <a href="javascript:void(0)" class=" waves-effect waves-classic"><i class="site-menu-icon fa  fa-line-chart fa-lg" aria-hidden="true"></i><span class="site-menu-title">Reports<br>Places</span></a>
            </li>
        </ul>
    </div>
</div>
